#screen{
    margin-top: 100px;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 300px;
    user-select: none;
  }

#screen.waitting {
      background-color: aqua;
  }

#screen.ready {
    background-color: red;
    color: white;
}

#screen.now {
    background-color: greenyellow;
}